.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    background-color: blue;
  }
  