.header-actions {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  padding-inline: 1rem;
}

.header-actions .nav-svg {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-color: var(--background);
  border-radius: 100%;
  padding: 0;
  display: grid;
  place-items: center;
}

.header-actions .nav-svg svg {
  position: absolute;
  width: 70%;
  height: 70%;
}

.header-actions .nav-svg path {
  stroke: var(--highlightColor, var(--text));
  fill: transparent !important;
}